<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background: pink;">
<!--<form action = "http://localhost:5000/login" method = "post">-->
<!--    <table>-->
<!--        <tr><td>Name</td>-->
<!--        <td><input type ="text" name ="username"></td></tr>-->
<!--        <tr><td>Password</td>-->
<!--        <td><input type ="password" name ="password"></td></tr>-->
<!--        <tr><td><input type = "submit"></td></tr>-->
<!--    </table>-->
<!--</form>-->
<form action="/showitems">
    <table style="display: flex; justify-content: center; align-items: center; flex-direction: column; min-height: 95vh;">
        <tr><td style="font-size: 30px;">Enter the name of the item: </td></tr>
        <tr><td><input style="width: 300px; height: 20px;" type="text" name="item"></td></tr>
        <tr><td style="font-size: 30px;">Enter item ID: </td></tr>
        <tr><td><input style="width: 300px; height: 20px;" type="text" name="itemID"></td></tr>
        <tr><td style="font-size: 30px;">Enter the quantity: </td></tr>
        <tr><td><input style="width: 300px; height: 20px;" type="text" name="quantity"></td></tr>
        <tr><td style="font-size: 30px;">Enter the price of the item: </td></tr>
        <tr><td><input style="width: 300px; height: 20px;" type="text" name="price"></td></tr>
        <tr><td><input style="width: 100px; height: 30px; background: black; color: white;" type = "submit"></td></tr>
    </table>
</form>
</body>
</html>
